[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[user]
    name = phonglh
    email = phonghngle@gmail.com
    signingKey = ~/.ssh/id_phnglh

[color]
    ui = true

[alias]
  ci=checkin
    st = status
    co = checkout
    br = branch
    df = diff
    cp = cherry-pick
    cm = commit
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate --date=short --color --decorate

[core]
    pager = delta
    autocrlf = input
    editor = nvim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false
    side-by-side = false
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
    algorithm = minimal
    compactionHeuristic = true
    renames = true

[pull]
    ff = only

[push]
    default = current

[github]
    user = phnglh

[init]
    defaultBranch = main

[gpg]
    format = ssh

[gpg "ssh"]
    program = /usr/bin/ssh-keygen

[commit]
    gpgsign = true

[credential]
    helper = cache

[rebase]
    autoStash = true

[credential "https://github.com"]
    helper = 
    helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
    helper = 
    helper = !/opt/homebrew/bin/gh auth git-credential

